<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/app-public/styles/layout.css">
    <script src="/app-public/js/401.html.js" defer></script>
    <title>401 - Sistema de Administración</title>
</head>
<body class="height-100vh bg-tese">
    <header class="bg-dark-green p-15px0px">
        <h1 style="color: red;"class="text-align-center font-family-nunito color-light-green font-size-3em font-weight-bold">Sistema de Administración - Bolsa de Trabajo TESE</h1>
        <h2 class="text-align-center font-fa    mily-nunito color-light-green" >Centro de Gestión Tecnológica e Incubadora de Empresas</h2>
    </header>
    <main>
        <p>NECESITA INCIAR SESIÓN</p>
    </main>
</body>
</html>