<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/app-public/styles/layout.css">
    <script src="/app-public/js/inicio.html.js" defer></script>
    <title>Sistema de Administración</title>
</head>
<body class="bg-tese height-100vh">
    <header class="bg-dark-green p-15px0px">
        <h1 class="text-align-center font-family-nunito color-light-green font-size-3em font-weight-bold">Sistema de Administración - Bolsa de Trabajo TESE</h1>
        <h2 class="text-align-center font-family-nunito color-light-green" >Centro de Gestión Tecnológica e Incubadora de Empresas</h2>
    </header>
    <main>
        <div class=" grid-container grid-container-inicio">
            <div class="grid-item grid-inicio-item-1">
                <h3 id="user_h3" class="width-100per color-white font-family-nunito font-size-3em align-self-center" >Usuario: </h3>
                <a id="a_home" class="p-2per mr-2per align-self-center" href="/app/inicio">
                    <img class="icons" src="/app-public/images/home.png">
                </a>
                <a id="a_logout" class="p-2per align-self-center" href="/app/logout">
                    <img class="icons" src="/app-public/images/logout.png">
                </a>
            </div>

            <div class="grid-item grid-item-2">
                <a class="options_image_p" href="/app/candidatos">
                    <img class="options_image" src="/app-public/images/candidatos.png" alt="">
                    <p class="options_image_p">CONSULTAR CANDIDATOS</p>
                </a>
            </div>

            <div class="grid-item grid-item-3">
                <a class="options_image_p" href="/app/unidades-eco">
                    <img class="options_image" src="/app-public/images/unidades-eco.png" alt="">
                    <p>CONSULTAR UNIDADES ECONÓMICAS</p>
                </a>
            </div>

            <div class="grid-item grid-item-4">
                <a class="options_image_p" href="/app/vacantes">
                    <img class="options_image" src="/app-public/images/vacantes.png" alt="">
                    <p>CONSULTAR VACANTES</p>
                </a>
            </div>

            <div class="grid-item grid-item-5">
                <a class="options_image_p" href="/app/enviar">
                    <img class="options_image" src="/app-public/images/charts.png" alt="">
                    <p class="options_image_p">ENVIAR VACANTES</p>
                </a>
            </div>

        </div>
        <!-- <div class="width-50per height-max-content m-0-auto mt-5per bg-light-green p-2per b-radius-5per display-flex f-direction-column align-items-center">
            <h3 id="user_h3" class="width-100per font-family-nunito font-size-2em mb-5per text-align-center" >Bienvenido usuario: </h3>
            <a id="a_exit" class=" font-family-nunito font-size-1em text-align-center p-2per b-radius-15px" href="/app/login">Cerrar Sesión</a>
            
        </div> -->
    </main>
</body>
</html>