<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/form-public/styles/layout.css">
    
    <script src="/form-public/js/ok.html.js" defer></script>
    <title>Registro Vacantes App</title>
</head>
<body>
    <header>
        <h1>Registro de Vacantes - Bolsa de Trabajo TESE</h1>
    </header>
    <main class="contenedor">
        <p class="form-contenedor__p">¡Su vacante ha sido enviada!</p>

    </main>
    <div class="contenedor">
        <a href="/form/registro" class="form-contenedor__p">Registrar otra vacante:</a>
    </div>
    <footer>
        <p class="footer_p footer_p1">Tecnológico de Estudios Superiores de Ecatepec</p>
        <p class="footer_p footer_p2">Centro de Gestión Tecnológica e Incubadora de Empresas</p>
        <p class="footer_p footer_p3">Cano R. Edgar I., Hernández R. Yesenia</p>
    </footer>

</body>
</html>