* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
   --color1: #067302;
   --color2: #055902;
   --color3: #75A66D;
   --color4: #8acb76;
   --color5: #c4e8ba;
   --dark-green: #194318;
}

body {
    background-color:transparent;
}
 

.bg-tese {
    background: linear-gradient(#194318aa,#8acb76aa ), url(../images/tese.jpeg);
    background-size: cover;
}
.bg-dark-green {
    background-color: var(--dark-green);
}
.bg-light-green {
    background-color: var(--color3);
}


.height-100vh {
    height: 100vh;
}
.height-50vh {
    height: 50vh;
}
.height-60vh {
    height: 60vh;
}
.height-max-content {
    height: max-content;
}


.p-15px0px{
    padding: 15px 0px;   
}

.color-light-green {
    color: var(--color4);
}

.color-white {
    color: #FFF;
}

.width-100per {
    width: 100%;
}

.width-50per {
    width: 50%;
}




.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.text-align-center {
    text-align: center !important;
}


/* Flex Styles*/
.f-direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}


.align-self-center {
    align-self: center;
}

/* Font Styles*/
.font-family-nunito {
    font-family: 'Nunito';
}
.font-size-1em{
    font-size: 1em;
}
.font-size-2em{
    font-size: 2em;
}
.font-size-3em{
    font-size: 3em;
}
.font-weight-bold{
    font-weight: bolder;
}

/*Border Styles*/
.b-radius-5per{
    border-radius: 5% 5% !important;
}
.b-radius-15px{
    border-radius: 15px 15px !important;
}

.b-none{
    border: none;
}

/* Pading Styles */
.p-2per{
    padding: 2%;
}
.p-10per{
    padding: 10%;
}
.p-0-auto {
    padding: 0 auto;
}
.pt-10per{
    padding-top: 10%;
}
.pr-10per{
    padding-right: 10%;
}
.pl-10per{
    padding-left: 10%;
}
.pb-10per{
    padding-bottom: 10%;
}

/* Margin Styles */
.m-0-auto {
    margin: 0 auto;
}
.mt-10per{
    margin-top: 10%;
}
.mr-10per{
    margin-right: 10%;
}
.ml-10per{
    margin-left: 10%;
}
.mb-10per{
    margin-bottom: 10%;
}
.mt-5per{
    margin-top: 5%;
}
.mb-5per{
    margin-bottom: 5%;
}

.mr-2per {
    margin-right: 2%;
}



/* Styling by references | Estilizando por referencias*/
.icons {
    height: 50px;
    filter: invert(1);
}

.options_image {
    width: 200px;
    padding: 15px;
    filter: invert(1);
}

.options_image_p {
    text-decoration: none;
    font-size:32px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #FFF;
}

.grid-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    height: 65vh;
    display: grid;
}

.grid-container-inicio{

    grid-template: 1fr 3fr / 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
}

.grid-container-candidatos{

    grid-template: 1fr 3fr / 1fr 1fr;
    grid-gap: 3%;
}

.grid-container-unidades-eco{

    grid-template: 1fr 3fr / 1fr;
    grid-gap: 3%;
}


.grid-item {

    background-color: #092b08cc;
    border-radius: 15px;
    padding: 15px;

    display: flex;

    transition-property: background-color;
    transition-duration: 200ms;
    align-items: center;
    justify-content: center;
}

.grid-item:hover {
    background-color: #092b08;
    border-radius: 15px;
    padding: 15px;

}

.grid-inicio-item-1 {
    grid-column: 1 / 5;
}

.grid-candidatos-item-1 {
    grid-column: 1 / 3;
}

/* Aquí comienza la lista */
.grid-candidatos-item-2 {
    grid-column: 1 / 3;
    background-color: var(--color4);
    transition: none;
    
}
.grid-candidatos-item-2:hover {
    background-color: var(--color4);
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: var(--color4);
    font-family: 'Nunito';
    font-size: 2em;
    padding: 15px;
    border-radius: 15px;
}
.candidatos_container {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: var(--color4);
    font-family: 'Nunito';
    font-size: 2em;
    padding: 15px;
    border-radius: 15px;
}
.descarga_container {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: var(--dark-green);
    font-family: 'Nunito';
    font-size: 2em;
    padding: 15px;
    border-radius: 15px;
}

.flex_container-table{
    overflow-x: scroll;
    border-radius: 15px;
}

.candidatos_container_h4 {
    text-align: center;
    margin-bottom: 2%;
    color: #092b08;
}
.unidades-eco_container_h4 {
    text-align: center;
    margin-bottom: 2%;
    color: #092b08;
}
.vacantes_container_h4 {
    text-align: center;
    margin-bottom: 2%;
    color: #092b08;
}


.display-none {

    display: none;
}




.grid-unidades-eco-item-1 {
    grid-column: 1 / 2;
}

.candidatos_table {
    background-color: var(--dark-green);
    font-size: .5em;
    color: #e8ffe2;
    margin: 0 auto;
}
.candidatos_table_header_row_cell {
    padding: 10px;
}
.candidatos_table_row_cell {
    padding: 10px;
    background-color: #8acb76;
    color: #092b08;
}
.unidades-eco_table {
    background-color: var(--dark-green);
    font-size: .5em;
    color: #e8ffe2;
    margin: 0 auto;

}
.unidades-eco_table_header_row_cell {
    padding: 10px;
}
.unidades-eco_table_row_cell {
    padding: 10px;
    background-color: #8acb76;
    color: #092b08;
}

.vacantes_table {
    background-color: var(--dark-green);
    font-size: .5em;
    color: #e8ffe2;
    margin: 0 auto;
}

.vacantes_table_header_row_cell {
    padding: 10px;
}

.vacantes_table_row_cell {
    padding: 10px;
    background-color: #8acb76;
    color: #092b08;
}



 /*** Events ***/


#a_logout, #a_home {
    transition-property: background-color;
    transition-duration: 200ms;
    border-radius: 15px;
}
#a_logout:hover, #a_home:hover{
    background-color: #0a3109;
}

.justify-content-center {
    justify-content: center;
}

/* body {
    background: linear-gradient(#194318aa,#8acb76aa ), url(../images/tese.jpeg  );
    background-size:cover;
    font-family: 'Nunito', sans-serif;
    background-color: var(--color4);
    font-size: 1.5em;
}


.form-contenedor {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-items: center;
    background-color: #72b468;
    padding: 2%;
    border-radius: 10px;
}

.contenedor {
    margin: auto;
    margin-top: 18vh;
    margin-bottom: 18vh;
    width: 70%;
    height: 100%;
    background-color: #72b468;
    padding: 2%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
}

header {
    padding: 15px 0px;
    background-color: ;
}

footer {
    padding: 10px 10px;
    color: #c4e8ba;
    background-color: #194318;
}

.footer_p{
    display: inline-block;
    align-items: center;
}

.footer_p1 {
    width: 100%;
    font-weight: bold;
    font-size: .75em;
    text-align: center;
}

.footer_p2 {
    width: 100%;
    font-size: .75em;
    text-align: center;
}

.footer_p3 {
    width: 100%;
    font-size: .5em;
    text-align: center;
}
h1 {
    width: 100%;
    text-align: center;
    color: #8acb76;
}
h2 {
    width: 100%;
    text-align: center;
    color: #8acb76;

}

.nombre_unidad_eco {
    width: 100%;
}
#puesto_vacante {
    width: 100%;
}
#actividades_vacante {
    width: 100%;
    height: 50px;
    resize: none;
}


#conocimientos {
    width: 90%;
    height: 50px;
    resize: none;
}

#ubicacion_vacante {
    width:100%;
}

#tipo_empleo {
    width: 100%;
}
#carrera {
    width:100%;
}
#situacion_escolar {
    width: 100%;
}
#semestre {
    display: block;
    width: 50%;
    height: 30px;
    margin: auto auto;
}
#conocimientos {
    width: 100%;
}
#otro_idioma {
    width: 100%;
}
#edad {
    display: block;
    width: 50%;
    height: 30px;
    margin: auto auto;
}
#boton_submit{
    width: 100%;
    height: 40px;
    background-color:#c4e8ba;
    border: solid #c4e8ba;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5%;
}

.combo-label{
    font-size: .75em;
}

.inputs_ocultos {
    display: none;
}




@media screen and (max-width: 450px) {

    body {
        width: 100vw;
    }

    header {
        padding: 5%;
    }
    h1 {
        width: 100%;
        font-size: 1.25em;
    }
    h2 {
        width: 100%;
        font-size: .75em;
    }
    .form-contenedor {
        width: 85%;
        margin-top: 5%;
        margin-bottom: 5%;
    }


} */

/*
TEXTBOX

*/